/* *{
    border: solid 2px black;
} */

body *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header{
    background-color: rgb(255, 255, 255);
}

.header_row{
    background-color: white;
    width: 100%;
    height: 83px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navlink{
    height: 37px;
    width: auto;
    color: white;
    background-color: rgba(78, 128, 241, 1);
    border-radius: 15px;
    text-decoration: none;
    padding: 5px 17px;
    margin-left:10px;
    font-size: 18px;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

.content{
    flex: 1 1 auto;
}

.start{
    background: linear-gradient(180deg, #588BFF 0%, #1E4AAD 100%);
}
.start_row{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.start_body{
    color: #FFFFFF;
    min-width: 50%;
    max-width: 60%;
}
.start_title{
    font-size: 3vw;
    font-weight: bold;
    font-family: "Sora", sans-serif;
}
.start_description{
    font-size: 24px;
}
.start_search{
    display: flex;
    align-items: center;
    width: 400px;
    height: 48px;
    background-color: rgb(255, 255, 255);
    border-radius: 51.06px;
    font-size: 18px;
    color: #808080;
}
.search_icon{
    margin-left: 10px;
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.avatar{
    margin-left: 5%;
    margin-right: 5%;
}

#message1{
    display: flex;
    align-items: center;
    width: 330px;
    height: 90px;
    background-color: #D1D2D2;
    border-radius: 51.06px;
    font-size: 18px;
}

#message2{
    display: flex;
    align-items: center;
    width: 330px;
    height: 90px;
    background-color: #7EA6FF;
    border-radius: 51.06px;
    font-size: 18px;
}

.programming{
    background-color: #F2F3F5;
    background-image: url(sources/imgs/Programming/Matrix_BG.png);
}
.programming_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.block_title{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 48px;
    margin: 40px;
}

.cards{
    display: flex;
    gap: 100px;
    margin-bottom: 88px;
}

.card{
    background-color: #fff;
    border-radius: 40px;
}

.card h3{
    text-align: center;
    line-height: auto;
    font-weight: 500;
    font-size: 32px;
    margin: 0;
}

.all_card_content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 16px;
}

.price_row{
    display: flex;
    justify-content: space-between;
}

.price_content{
    display: flex;
    flex-direction: column;
}

.price_content p{
    color: #00000088;
}

.price{
    font-family: "Sora", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 160%;
}

.button_wrapper{
    display: flex;
    align-items: center;
}
.button{
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    padding: 8px 24px;
    background-color: #588BFF;
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
}

.design{
    background-image: url(sources/imgs/Design/Design_BG.png);
    background-color: #588aff9d;
}

.design_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.marketing{
    background-color: #F2F3F5;
}

.marketing_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.data{
    background-color: #588aff9d;
}

.data_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    background-color: rgb(255, 255, 255);
}
.footer_row{
    display: flex;
    height: 132px;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}
#logofooter{
    position: absolute;
    left: 50%;
}
.footericons{
    margin-left: 15px;
}

@media only screen and (max-width: 1340px){
    .cards{
        display: flex;
        flex-direction: column;
        padding: 12px;
        margin: 12px;
    }
}